<a href="https://colab.research.google.com/github/Nataliahfk/Pandas_transformacion_y_manipulacion_datos/blob/main/Pandas_Fecha_y_Hora.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Tipo datetime**

La clase datetime es un tipo de datos que representa una fecha y hora específicas en Python. Permite trabajar y manipular datos de año, mes, día, hora, minuto, segundo y microsegundo, así como días de la semana, como lunes, martes, miércoles, etc. Esta clase está definida en el módulo datetime y es fundamental para manipular fechas y horas en Python. Con él es posible realizar operaciones de cálculo de diferencias entre fechas, formatear fechas y horas en diferentes formatos, además de ser muy útil para analizar datos que involucran series temporales.

Con la biblioteca Pandas es posible realizar diversas operaciones con fechas y horas, como convertir datos de cadena a datetime, filtrar datos en función de intervalos de tiempo específicos, agregar datos por hora, día, mes o año, entre otras funcionalidades. Por tanto, con esta biblioteca es posible realizar diversas operaciones con fechas de forma sencilla y eficiente dentro de un conjunto de datos.

**Biblioteca datetime**

Podemos trabajar directamente con datetime a través de la biblioteca datetime, una biblioteca estándar de Python que proporciona clases para trabajar con fechas y horas. Con esta biblioteca, puede crear objetos de fecha y hora, realizar cálculos de tiempo, formatear fechas y horas en diferentes formatos y mucho más.

Dentro de la biblioteca datetime, existe la clase de fecha y hora, que representa una fecha y hora específicas. Vea un ejemplo:

In [31]:
import datetime

# creando un objeto datetime con la fecha y hora actual
ahora = datetime.datetime.now()

print("Fecha y hora actual:", ahora)

Fecha y hora actual: 2025-06-25 19:49:40.117836

En este ejemplo, el método now() de la clase datetime se utiliza para crear un objeto que representa la fecha y hora actuales. El objeto resultante se almacena en la variable ahora y luego se imprime en la pantalla usando la función print().

Otra clase importante en la biblioteca datetime es la clase date, que representa solo una fecha. Vea un ejemplo:

In [32]:
import datetime
# creando un objeto date con la fecha de hoy
hoy = datetime.date.today()

print("Fecha de hoy:", hoy)

Fecha de hoy: 2025-06-25

En este ejemplo, el método today() de la clase date se utiliza para crear un objeto que representa la fecha de hoy. El objeto resultante se almacena en la variable hoy y luego se imprime en la pantalla usando la función print().

La biblioteca datetime también le permite realizar operaciones matemáticas con fechas y horas. Vea un ejemplo de cómo calcular la diferencia entre dos fechas:

In [33]:
import datetime

# creando dos objetos date con fechas diferentes
data_1 = datetime.date(2022, 1, 1)
data_2 = datetime.date(2023, 1, 1)

# calculando la diferencia entre las dos fechas
diferencia = data_2 - data_1

print("Diferencia entre las dos fechas:", diferencia)

Diferencia entre las dos fechas: 365 days, 0:00:00

En este ejemplo, se crean dos objetos date con fechas diferentes. Luego se utiliza el operador de resta para calcular la diferencia entre las dos fechas. El resultado se almacena en la variable diferencia y luego se imprime en la pantalla usando la función print().

###**Datos de Tiempo**

In [34]:
import pandas as pd

In [35]:
# para leer con la ruta de acceso, esto lo copio en el lado izquierdo en la carpeta tres puntos copoiar ruta
data = pd.read_json('/content/inmuebles_disponibles.json')
data.tail()

          id       fecha  lugar_disponible   precio
364995  3279  2016-12-29              True  $140.00
364996  3279  2016-12-30              True  $140.00
364997  3279  2016-12-31              True  $140.00
364998  3279  2017-01-01              True  $140.00
364999  3279  2017-01-02             False     None

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                365000 non-null  int64
 1   fecha             365000 non-null  object
 2   lugar_disponible  365000 non-null  bool
 3   precio            270547 non-null  object
dtypes: bool(1), int64(1), object(2)
memory usage: 11.5+ MB

In [37]:
# para cambiar el tipo de dato object a datatime fecha
data['fecha'] = pd.to_datetime(data['fecha'])

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                365000 non-null  int64
 1   fecha             365000 non-null  datetime64[ns]
 2   lugar_disponible  365000 non-null  bool
 3   precio            270547 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 11.5+ MB

In [39]:
data.sample(15)

          id      fecha  lugar_disponible   precio
273122  3098 2016-04-15              True  $179.00
123184  1848 2016-07-01             False     None
306129  2988 2016-09-19              True   $78.00
162342  2035 2016-10-12              True   $60.00
77091   1109 2016-03-20              True   $99.00
320488  2589 2016-01-22              True  $200.00
129620  2130 2016-02-18              True  $136.00
22937    509 2016-11-06              True  $130.00
8290     616 2016-09-20              True   $89.00
168846  3797 2016-08-07             False     None
207638   909 2016-11-17              True   $95.00
112645   306 2016-08-16             False     None
327691  1782 2016-10-16             False     None
200627   680 2016-09-02              True   $69.00
294951  1405 2016-02-04              True   $95.00

In [40]:
# dt es datetime abreviado para paython , muestra el año con %Y y mes %m
data['fecha'].dt.strftime('%Y-%m')

0         2016-01
1         2016-01
2         2016-01
3         2016-01
4         2016-01
           ...
364995    2016-12
364996    2016-12
364997    2016-12
364998    2017-01
364999    2017-01
Name: fecha, Length: 365000, dtype: object

In [41]:
# suma cuantos lugares disponibles por año y mes / aquí va a sumar todos los lugar_disponibles que sean True y va a sumar
suma_lugar_disponible = data.groupby(data['fecha'].dt.strftime('%Y-%m'))['lugar_disponible'].sum()
suma_lugar_disponible

fecha
2016-01    16543
2016-02    20128
2016-03    23357
2016-04    22597
2016-05    23842
2016-06    23651
2016-07    22329
2016-08    22529
2016-09    22471
2016-10    23765
2016-11    23352
2016-12    24409
2017-01     1574
Name: lugar_disponible, dtype: int64

In [42]:
# importamos la biblioteca numpy
import numpy as np

# utilizamos el método fillna para llenar los elementos vacíos por '0.0'
# definimos el parámetro de inplace para True para sustituir en el DataFrame
data['precio'].fillna('0.0', inplace = True)
data['precio'] = data['precio'].apply(lambda x: x.replace('$', '').replace(',','').strip()).astype(np.float64)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                365000 non-null  int64
 1   fecha             365000 non-null  datetime64[ns]
 2   lugar_disponible  365000 non-null  bool
 3   precio            365000 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1)
memory usage: 11.5 MB